{
  "semi": false,
  "singleQuote": false,
  "arrowParens": "avoid",
  "useTabs": true,
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "trailingComma": "all",
  "bracketSpacing": true
}
